package $package;

import java.sql.*;
import javax.persistence.*;
import lombok.Data;

@Data
@Entity
@Table(name = "$table")
public class $class {

#foreach ( $field in $fieldList )
  #if ($field.primaryKey)
  @Id
  #end
  #if ($field.autoIncrement)
  @GeneratedValue(strategy = GenerationType.IDENTITY)
  #end
  #if ($field.nullable)
  @Column(name = "$field.columnName", nullable = true)
  #else
  @Column(name = "$field.columnName")
  #end
  private $field.typeName $field.fieldName;

#end
}